.modifier-toggle {
    padding-right: 10px;
    transform: translateY(-1px);
    display: inline-block;
}

.modifier-toggle.collapsed {
    transform: translate(-5px, -5px) rotate(-90deg);
}

.node-text {
    text-anchor: middle;
    dominant-baseline: middle;
    font-family: monospace;
    font-size: 200%;
    pointer-events: none;
    filter: drop-shadow(3px 3px 2px var(--tooltip-background));
}


.chest-ready {
    animation: chest-glow 1.2s infinite alternate;
}

@keyframes chest-glow {
    0% {
        box-shadow:
            0 0 4px gold,
            0 0 8px orange;
        transform: scale(1);
    }
    50% {
        box-shadow:
            0 0 12px gold,
            0 0 24px orange;
        transform: scale(1.05);
    }
    100% {
        box-shadow:
            0 0 4px gold,
            0 0 8px orange;
        transform: scale(1);
    }
}
